* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
    /* background-image: url(./imgs/background.png); */
    background-color: rgb(11, 16, 22);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 2em;
    transition: .2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}

#finalResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
    width: 500px;
    background-color: black;
    padding-bottom: .6em;
}

#finalResults.fade-in {
    animation: fadeIn 0.4s ease-in-out forwards;
}

#finalResults.fade-out {
    animation: fadeOut 0.4s ease-in-out forwards;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    cursor: default;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeItemIn 0.5s forwards;
}

.result-title {
    color: white;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    background-color: black;
    font-family: AntiqueOlive;
    text-shadow: rgb(107, 107, 107) 0 3px 0, rgba(23, 23, 23, 0.743) -2px 4px 0, rgba(23, 23, 23, 0.743) 2px -1px 0, rgba(23, 23, 23, 0.743) -2px -1px 0, rgba(23, 23, 23, 0.743) 2px 4px 0;
    padding: .3em 0 .1em 0;
}

.win-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    border-right: solid white 2px;
}

.lose-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    width: 100%;
    border-left: solid white 2px;
}

.player-text-win {
    margin-right: .4em;
    font-size: calc(.6vw + 12px);
    text-shadow: rgb(107, 107, 107) 0 3px 0, rgba(23, 23, 23, 0.743) -2px 4px 0, rgba(23, 23, 23, 0.743) 2px -1px 0, rgba(23, 23, 23, 0.743) -2px -1px 0, rgba(23, 23, 23, 0.743) 2px 4px 0;
    -webkit-text-stroke: rgb(22, 22, 22) .3px;
}

.player-text-lose {
    margin-left: .4em;
    font-size: calc(.6vw + 12px);
    text-shadow: rgb(107, 107, 107) 0 3px 0, rgba(23, 23, 23, 0.743) -2px 4px 0, rgba(23, 23, 23, 0.743) 2px -1px 0, rgba(23, 23, 23, 0.743) -2px -1px 0, rgba(23, 23, 23, 0.743) 2px 4px 0;
    -webkit-text-stroke: rgb(22, 22, 22) .3px;
}

.score-text-win {
    padding: 0 .1em 0 .35em;
    box-shadow: inset rgb(19 99 19) 2px 0 0, rgb(19 99 19) -2px 0 0;
    background-color: rgb(78, 183, 78);
    border-radius: 45% 0 0 45%;
    border: solid rgb(21, 153, 27) 2px;
    min-width: 1.4vw;
    text-shadow: rgba(0, 0, 0, 0.532) 2px 2px 0;
    font-size: calc(.6vw + 12px);
}

.score-text-lose {
    padding: 0 .35em 0 .1em;
    box-shadow: inset rgb(99, 19, 19) -2px 0 0, rgb(99, 19, 19) 2px 0 0;
    background-color: rgb(192, 67, 67);
    border-radius: 0 45% 45% 0;
    border: solid rgb(153, 21, 21) 2px;
    min-width: 1.4vw;
    text-shadow: rgba(0, 0, 0, 0.532) 2px 2px 0;
    font-size: calc(.6vw + 12px);
}

.score-text-dq {
    box-shadow: inset rgb(86, 76, 14) -2px 0 0, rgb(86, 76, 14) 2px 0 0;
    background-color: rgb(191, 181, 66);
    border-radius: 0 45% 45% 0;
    border: solid rgb(136, 124, 16) 2px;
    min-width: 1.2vw;
    text-shadow: rgba(0, 0, 0, 0.532) 2px 2px 0;
    font-size: calc(.6vw + 12px);
}

.result p {
    font-family: AntiqueOlive;
}

.long-name {
    font-size: calc(.35vw + 10px);
    padding: .35em .4em .35em .2em;
}

.dq-score-lose {
    font-size: calc(.3vw + 10px);
    padding: .3em .45em .3em .15em;
}

.dq-score-win {
    font-size: calc(.3vw + 10px);
    padding: .3em .2em .3em .4em;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: .5em;
}

.title {
    text-decoration: underline;
    font-size: calc(2vw + 32px);
    cursor: default;
    color: white;
    letter-spacing: 2px;
    transition: .2s ease-in-out;
}

.title:hover {
    color: #2db5ff;
    text-shadow: #45c1ffda 0 0 4px;
    letter-spacing: 2.5px;
}

#searchBtn,
#pictureBtn {
    font-size: calc(1em + 8px);
    background-color: #c2e5fb;
    border-radius: 100px;
    box-shadow: rgba(44, 146, 187, 0.35) 0 -25px 18px -14px inset,
        rgba(44, 132, 187, 0.15) 0 1px 2px,
        rgba(44, 146, 187, 0.35) 0 2px 4px,
        rgba(44, 130, 187, 0.15) 0 4px 8px,
        rgba(44, 130, 187, 0.15) 0 8px 16px,
        rgba(44, 137, 187, 0.15) 0 16px 32px;
    color: #1a96c7;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
}

#searchBtn:hover,
#pictureBtn:hover {
    transform: scale(1.05) rotate(-1deg);
}

select {
    width: 100%;
}

select:focus {
    outline: none;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#searchInput,
input {
    border-radius: 20px;
    font-size: calc(1em + 8px);
    padding: calc(.05vw + 8px) calc(.3vw + 8px);
    border: #f35aac00 solid 3px;
    background: #a3d8ef;
    transition: .2s ease-in-out;
}

input::placeholder {
    color: rgba(20, 66, 118, 0.566);
}

input:hover {
    box-shadow: #2da0ff 3px 3px 0, #45abff 3px 3px 16px;
    border: #2dabff solid 3px;
}

input:focus {
    outline: none;
    box-shadow: #2da0ff 3px 3px 0, #45abff 3px 3px 16px;
    border: #2dabff solid 3px;
}

#refreshContainer {
    color: white;
    font-weight: bold;
}

.fadeOut {
    animation: fadeOut .4s forwards;
}

@font-face {
    font-family: AntiqueOlive;
    src: url('./Antique\ Olive\ Black\ Regular.ttf');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes fadeItemIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}